/* This file contains styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #fafafa;
    color: #333333;
  }

h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }


.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

/* .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  } */

table {
    margin: 5px;
}

.container{
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    justify-content: center;
 }

.custom-container {
    max-width: 1400px; /* Set a max-width for the container */
    width: 100%;
    margin: 0 auto; /* Center the container */
    /* padding: 20px; */
}

h1 {
    padding: 5px;
}

h2 {
    padding: 5px;
}

h3 {
    padding: 5px;
}