{% extends "layout.html" %}

{% block main %}
<div class="container text-center py-5">
    <h1>About</h1>
</div>
<div class="container text-center py-3">
    <p>This is a simple stock trading application built using Flask.</p>
    <p>It allows users to register, log in, and perform basic trading operations such as buying and selling stocks.</p>
    <p>I designed this application as my final CS50x project to demonstrate my understanding of web development concepts and Flask framework.</p>
</div>
<div class="container text-center mt-3">&copy; 2025 PRO Trader</p>

{% endblock main %}