<!-- This template is used for buying stocks -->

{% extends "layout.html" %}

{% block main %}

<div class="container text_center">
    <h2>Buy shares</h2>
</div>


<div class="container">
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number" min="1" step="1">
        </div>

        <div class="container text-center">
            <button class="btn btn-primary" type="submit">Buy</button>
        </div>

    </form>
</div>
{% endblock main %}