<!-- This html page is the main page listing the portfolio and live market data -->

{% extends "layout.html" %}

{% block main %}
<div class="container text-center py-5">
    <h1>Portfolio - Real-Time Data</h1>

        <table border = "1" class="table table-striped">

            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price</th>
                    <th scope="col">Time</th>
                    <th scope="col">Gain</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>

            <tbody id="stockTable">
                <tr>
                    <td colspan="3">Loading...</td>
                </tr>
            </tbody>

        </table>
    
    <script src="/static/portfolio.js"></script>
</div>
{% endblock %}