{% extends "layout.html" %}

{% block main %}

<div class="container text-center py-5">
    <h2>Sell shares</h2>
</div>

<div class="container">
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="symbol">
                <option disabled selected>Symbol</option>

                    {% for symbol in ticker_list %}
                        <option value='{{symbol}}'>{{symbol}}</option>
                    {% endfor %}

            </select>
        </div>

        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number" min="0" step="1">
        </div>
        <div class="container text-center">
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
</div>
{% endblock main %}